* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}
nav {
    background: linear-gradient(90deg, rgba(252, 250, 254, 0.5) 0%, rgba(252, 250, 254, 0.942708) 52.08%, #FCFAFE 100%);
    padding: 0 5%;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 3;
}
img {   
    pointer-events: none;
}
.logo {
    width: 100px;
    height: auto;
}
.logo img {
    width: 100%;
    object-fit: cover;
}
.form-inline {
    width: 100%;
}
.manu {
    display: flex;
    gap: 2.25rem;
}

.nav-part form input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding: 10px;
}   
.nav-part form button {
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: whitesmoke;

;
;
    font-weight: 600;
}

.nav-contaner .manu a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
}
.nav-contaner .manu a:active, 
.nav-contaner .manu a:hover{
    color: #0000ff
;
}

#sign-up {
    background-color: #0000ff;
    padding: 15px 40px;
    color: white; 
    border-radius: 20px;    
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}
#sign-up:hover {
    background-color: white;
    color: black;
}

.collapse .dropdown-menu li a{
    padding: 1rem;
    border-radius: 10px;
}
.collapse .dropdown-menu li a:hover {
    color: white;
    background-color: #0000ff
;
}
main {
    margin-top: 126.77px; 
}
/* div{
    border: 1px dashed red;
} */
.page1-part1 img {
    width: 100%;
}
.page2 {
    width: 100%;
}

main section h1 {
    font-size: 72px;
    width: 90%;
    text-transform: capitalize;
    font-weight: 500;
}
.color {
    color: #0000ff
;
}

.page1-part1 {
    width: 50%;
}
.page1-part1 p {
    width: 85%;
    font-weight: 400;
    font-size: 20px;
    color: #00000091;
} 
.page1-part1 img {
    width: 130%;
    animation: moving 8s infinite ease; 
}
@keyframes moving {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(2%, 5%);
    }
    50% {
        transform: translate(0%, 5%);
    }
    75% {
        transform: translate(4%, 3%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
.page-1{
    display: flex;   
    justify-content: center;
    align-items: center;
}

.page1-part1 h1 {
    font-weight: 600;
}
.page1-part1 button:first-child, .page1-part1 button:last-child {
    background: #0000ff
;
    border: 2px solid #CFCFCF;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    outline: none;
    border: none;
    width: 170.77px;
    transition: .4s;
    position: relative;
}
.page1-part1 button:last-child{
    background: white;
    border: 1px solid black;
    color: #0000ff
;
    outline: none;
}
.bottons-page1 {
    display: flex;
    gap: 1.45rem;
}
.page1-part1 button:first-child:hover{
    background-color: white;
    color: #0000ff;
    box-shadow: -4px -4px 1px rgba(128, 128, 128, 0.636);
}
.page1-part1 button:last-child:hover{
    box-shadow: -4px -4px 1px rgba(128, 128, 128, 0.636);
    background-color: white;
}
.page2 h1 {
    margin: auto;
    width: 100%;
    font-weight: 600;
}

.page2 p {
    color: #0000008C;
    margin: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
.cards {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
}
.card {
    padding: 2.188rem;
    height: auto;
    gap: 1.23rem;
    display: grid;
    position: relative; 
    justify-content: space-between;
    transition: .4s;
}

.cards .card {
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.card:first-child {
    background-color: #0000ff
;
    color: white;
}
.card:first-child p{
    color: #ffffffd5; 
    font-weight: 400;
    font-size: 16px;
    width: 80%;
    margin: 0; 
}
#scholarship {
    width: 25%;
    border-radius: 15px;
}

.container-course {
    width: 50%;
}
.row {
    margin: 0 !important;
    padding: 1rem;
}
.card:hover {
    transform: translate(0%, -4%);
}
#nav-respond {
        display: none;
    }
#nav-1 {
    display: block;
}
@media screen and (max-width: 920px){
    #scholarship {
        width: 100%;
        margin-bottom: 10px;
    }
    .page2 h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 1350px){
    .container-course {
        width: 100%;
    }
    #nav-respond {
        display: block;
    }
    #nav-1{
        display: none;
    }
}

@media screen and (max-width: 400px){
    
    #scholarship {
        width: 100%;
    }
    .container-course {
        width: 100%;
    }
    #nav-respond {
        display: block;
    }
    #nav-1{
        display: none;
    }
}
.cards .card .header {
    gap: 1rem;
}

.cards .card a {
    text-decoration: none;
    color: black;
}
.cards .card:nth-child(n+2){
    color: #0000ff
;
}
.card-icon {
    color: rgb(149, 149, 149);
    font-size: 30px;
    justify-content: center;
    display: flex;
    gap: 2rem;
}
.cards .card p {
    color: #00000099;
    font-size: 20px;
    width: auto;
}

.page2 {
    height: auto;
    padding-bottom: 8.563rem;
}
.page3 p {
    color: #0000009E;
}
.page3 .card {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1.5rem;
    background-color: white;
}
.page3 a {
    width: 33.33%;
    text-decoration: none;
}
.page3 .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.page3 .card .card-profile .part-profile img {
    width: 100px;
}
.page3 .card:hover {
    margin: 0;
}
.page3 .card::before{
    display: none;
}
.professor-name h3 {
    color: #0000ff
;
    font-size: 22px;
}

.professor-profile .part2 {
    color: #0000ff
;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3 button {
    padding: 15px;
    outline: none;
    border: none;
    background-color: #0000ff
;
    color: white;
    border-radius: 10px;
    margin-top: 3rem;
    transition: .4s;
}
.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.button-center button:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 4px gray;
}
.card:hover {
    cursor: pointer;
}

.page5 {
    height: auto;
    padding-bottom: 2rem;
}
.page5 .list1 img {
    width: 35%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 2px 4px gray;
}
.page5 .list1 .container {
    width: 50%;
    margin: 0;
}
.page5 .list1 .container a {
    font-weight: 500;
    color: #0000ff
;
}
.list1 span {
    color: #0000ff
;
    font-weight: 500;
    font-size: 20px;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #0000ff
b4;
    border-radius: 10px;
  }